@import "../vars";

.player {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  border-radius: $border-radius;
  padding: 15px;
  box-shadow: 21px 21px 15px 0 rgba(0, 0, 0, 0.1);
  color: rgb(var(--bgc));
  background-color: var(--contrast);

  &.winner {
    background-color: $winner;
  }

  &.looser {
    background-color: $looser;
  }

  .dealer {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
    color: var(--bgc);
    filter: invert(100%);
  }

  .name {
    font-size: 2.5rem;
  }

  .score {
    font-size: 2rem;
    line-height: 1rem;
  }

  .separator {
    margin-top: 30px;
  }

  .history {
    margin-top: 30px;
    list-style: none;

    li.flawless {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        top: 0;
        left: -5px;
        background-color: rgb(var(--bgc));
      }
    }

  }

  input {
    margin-top: auto;
    text-align: center;

    transition: transform ease-out .3s;

    background-color: rgba(var(--bgc), .4);

    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    color: rgb(var(--bgc));

    &:focus {
      transform: translateY(-20px);
    }

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: var(--bgc);
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: var(--bgc);
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: var(--bgc);
    }
  }
}
