<div class="container">
  <dialog class="modal">
    <input type="text" placeholder="Threshold">
  </dialog>
  <div class="players__wrapper">
    <div *ngFor="let p of players; let i = index" class="player">
      <div class="name">{{p.name}}</div>
      <div class="score">{{score(p)}}</div>
      <hr class="separator">
      <ol class="history">
        <li *ngFor="let point of p.history">{{point}}</li>
      </ol>
      <strong>Flawless rounds: {{winsNumber(p)}}</strong>
      <input [(ngModel)]="pointInputs[i]" type="number" placeholder="Enter points...">
    </div>
  </div>
  <button
    (click)="next()"
    class="next"
    tabindex="-1">Next
  </button>
  <button
    (click)="reset()"
    class="reset"
    tabindex="-1"
  >
    <fa-icon [icon]="iconReset"></fa-icon>
  </button>
</div>
